@use 'variables' as *;

.contato 
{
    &__form 
    {
        background: $white;
        padding: 2rem;
        border-radius: .5rem;
        box-shadow: $box-shadow;

        h3 
        {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

    }

    &__field 
    {
        width: 100%;
    }

    &__input
    {
        height: 4rem;
        padding-left: 1.5rem;
    }

    &__input,
    textarea
    {
        font-size: 1.6rem;
        width: 100%;
        margin-top: .5rem;
        color: $light-gray;
        outline: none;
        border-radius: .3rem;
        border: .15rem solid $light-gray;

        &:focus
        {
            border: .2rem solid $pink;
        }
    }

    input[type=number]
    {
        appearance: none;
        -webkit-appearance: textfield;
    }

    textarea
    {
        height: 15rem;
        padding: 1.5rem;
        resize: none;
    }


}