// Colors

$blue: #1548a1;
$white: #fff;
$light-gray: #888;
$list-hover: rgb(240, 240, 240);
$pink: #d41d62;
$black: #333;

$box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .08);
$overlay: rgba(0, 0, 0, .3);
